.product {
    margin-top: 20px;
    
  }
  
  .product__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  
  .product__nav {
    display: flex;
    gap: 2rem;
  }
  
  .product__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  
  .product__image {
    display: flex;
  }
  
  .product__image img {
    width: 100%;
  }
  
  .section__title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
/* Existing CSS... */

@media screen and (max-width: 900px) {
    .product{
      margin-top: 100px;
    }
    .product__container {
      gap: 3rem;

    }
  
    .product__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .product__image:nth-child(2) {
      grid-area: unset;
    }
  }
  
  @media screen and (max-width: 600px) {
    .section__title {
      font-size: 1.5rem;
    }
  
    .product__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .product__image:nth-child(2) {
      grid-area: unset;
    }
  }
    